<form (ngSubmit)="onSignin(f)" #f="ngForm">
    <div class="form-group">
      <div class="col-xs-4">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user text-success"></i></span>
              <input type="email" id="email" name="email" ngModel placeholder="Email" class="form-control">
            </div>
      </div>
    </div>
    <div class="form-group">
       <div class="col-xs-4">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock text-danger"></i></span>
              <input type="password" id="password" name="password" ngModel placeholder="Password" class="form-control">
            </div>
          </div>
       </div>
    <div class="form-group">
      <div class="col-xs-2 col-xs-offset-2">
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
              <i class="glyphicon glyphicon-log-in"></i>&nbsp;Sign In
            </button>
      </div>
    </div>
  </form>